<% content_for :header do %>
  <li class = "shutter-out-horizontal"><%= link_to('Log out', destroy_user_session_path, :method => :delete)%></li> 
<% end %>

<h1>Channels</h1>

<p><%= link_to 'New channel', new_channel_path %></p>

<ul>
  <%= render @channels %>
</ul>